<!DOCTYPE html>
<html>
<head>
  <title>Valhalla</title>
  <%= stylesheet_link_tag    "valhalla/application", media: "all" %>
  <%= javascript_include_tag "valhalla/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
