<div class="form-group">

  <label for="numismatics_coin_holding_location" class="control-label select optional">Holding location</label>
  <input id="holding_location" type="hidden" name="numismatics_coin[holding_location]" value="<%= f.object.model.holding_location&.first %>" />

  <select class="form-control select2" id="numismatics_coin_holding_location" data-hidden="#holding_location">
    <option <% f.object.model.holding_location.blank? ? 'selected' : '' %>></option>
    <% @holding_locations.each do |holding_location| %>
      <option <%= f.object.model.holding_location&.first == holding_location.value ? 'selected' : '' %> ><%= holding_location.value %></option>
    <% end %>
  </select>
</div>

