<div class="form-group">

  <label for="numismatics_coin_numismatic_collection" class="control-label select optional">Numismatic collection</label>
  <select class="form-control select2" id="numismatics_coin_numismatic_collection">
    <option <% f.object.model.numismatic_collection.blank? ? 'selected' : '' %>></option>
    <% @numismatic_collections.each do |numismatic_collection| %>
      <option <%= f.object.model.numismatic_collection&.first == numismatic_collection.value ? 'selected' : '' %> ><%= numismatic_collection.value %></option>
    <% end %>
  </select>
</div>

