<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h2>SVN Brach For Review</h2>
    <p><a href="<%= @url %>"><%= @url %></a></p>

    <p>You received this message because your email address is configured as the notification address for
    <%= @group.titleize %>.  To change the notification address, please contact the Digital Repository and Discovery
    Services team.</p>
  </body>
</html>
