<h1>PreservationAudit#failure</h1>

<p>
Preservation Audit batch completed and all jobs ran without errors. <%= @failure_count %> preservation failures were found, which means the check was done successfully and found a problem with a preervation file. Take a look and fix them, then start a rerun audit.

<%= link_to("Show this preservation audit", @audit) %>
</p>
