<h1>PreservationAudit#success</h1>

<p>
Preservation Audit batch completed and all jobs ran. No preservation failures were found, which means all the checksums matched -- we did it!

<%= link_to("Show this preservation audit", @audit) %>
</p>
