<table class="table table-striped datatable">
  <thead>
    <tr>
      <th>File Set Title</th>
      <th>Parent Resource Title</th>
      <th>Last Fixity Check Status</th>
      <th>Date Last Checked</th>
    </tr>
  </thead>
  <tbody>
    <% resources.each do |event| %>
      <% resource = event.affected_resource %>
      <% if resource %>
        <tr>
          <td><%= link_to resource.title.first, solr_document_path(resource) %></td>
          <td><%= link_to(resource.parent.title.first, solr_document_path(resource.parent)) if resource.parent %></td>
          <td><%= event.status %></td>
          <td><%= event.updated_at %></td>
        </tr>
      <% else %>
        <% Honeybadger.notify("Event #{event.id} has no resource_id") %>
      <% end %>
    <% end %>
  </tbody>
</table>
