<h2>Fixity Dashboard</h2>

<section id="fixity-checks">
  <h3>Failed Local Fixity Checks</h3>
  <%= render partial: "fixity_table", locals: {resources: @failures} %>

  <h3>Recent Local Fixity Checks</h3>
  <%= render partial: "fixity_table", locals: {resources: @recents} %>

<section id="cloud-fixity-checks">
  <h3>Failed Cloud Fixity Checks</h3>
  <%= render partial: "cloud_fixity_table", locals: { resources: @cloud_failures } %>

  <h3>Recent Cloud Fixity Checks</h3>
  <%= render partial: "cloud_fixity_table", locals: { resources: @cloud_recent_checks } %>
</section>
