<h2>Fixity Dashboard</h2>

<section id="fixity-checks">
  <h3>Failed Fixity Checks</h3>
  <%= render partial: "fixity_table", locals: {resources: @failures} %>

  <h3>Recent Fixity Checks</h3>
  <%= render partial: "fixity_table", locals: {resources: @recents} %>

<section id="cloud-fixity-checks">
  <h3>Cloud Fixity</h3>

  <h4>Failed Fixity Checks</h4>
  <%= render partial: "cloud_fixity_table", locals: { resources: @cloud_failures } %>

  <h4>Recent Fixity Checks</h4>
  <%= render partial: "cloud_fixity_table", locals: { resources: @cloud_recent_checks } %>
</section>
