<div class="form-group string optional">
  <%= f.label :firm_id, required: f.object.required?(:firm_id) %>
  <%= link_to 'New Firm', new_numismatics_firm_path, class: 'btn btn-sm btn-primary new-link', target: '_blank'%>
  <%= f.hidden_field :firm_id, ajax_select_type: "Firm" %>
</div>

