<div id="<%= dom_id preservation_audit %>">
  <p>
    <strong>Status:</strong>
    <%= preservation_audit.status %>
  </p>

  <p>
    <strong>Type:</strong>
    <%= preservation_audit.type %>
  </p>

  <p>
    <strong>Batch:</strong>
    <%= preservation_audit.batch_id %>
  </p>

</div>
