<div class="col-md-12" id="upload-tools">
  <a class="btn btn-primary" data-toggle="collapse" href="#uploading-stuff">Ingest from Server</a>
  <a class="btn btn-primary" data-toggle="collapse" href="#local-upload">Ingest Local Files</a>
  <div class="collapse" id="uploading-stuff" data-parent="#upload-tools">
    <%= render "server_upload" if controller.respond_to?(:server_upload) %>
  </div>
  <div class="collapse" id="local-upload" data-parent="#upload-tools">
    <%= render "local_upload" if @change_set.respond_to?(:files) %>
  </div>
</div>

<% if @change_set.pending_uploads.present? %>
  <div class="col-md-9">
    <div class="card card-body bg-light">
      <%= render "pending_uploads", uploads: @change_set.pending_uploads %>
    </div>
  </div>
<% end %>
