<% if @change_set.primary_terms.is_a?(Array) %>
  <div class="card">
    <div class="card-header">Metadata</div>
    <%= render partial: 'form_metadata_inner', locals: { fields: @change_set.primary_terms, f: f } %>
  </div>
<% elsif @change_set.primary_terms.is_a?(Hash) %>
  <% @change_set.primary_terms.each_pair do |label, fields| %>
    <div class="panel">
      <% unless label.empty? %>
        <div class="panel-header"><%= label %></div>
      <% else %>
        <div class="panel-header">Metadata</div>
      <% end %>
      <%= render partial: 'form_metadata_inner', locals: { fields: fields, f: f } %>
    </div>
  <% end %>  
<% end %>
