<% if f.object.respond_to?(:visibility) %>
  <fieldset>
    <legend class="legend-save-work">Visibility</legend>
    <ul class="visibility">
      <% ControlledVocabulary.for(:visibility).all.each do |viz| %>
        <li class="radio">
          <label>
            <%= f.radio_button :visibility, viz.value %>
            <%= visibility_badge(viz.value) %>
            <%= viz.definition %>
          </label>
        </li>
      <% end %>
    </ul>
  </fieldset>
<% end %>
