 <div class="row" id="ba-row">
  <div class="col-md-3">
  <% if @change_set.pending_uploads.present? %>
    <div class="col-md-9">
      <div class="card card-body bg-light">
        <%= render "pending_uploads", uploads: @change_set.pending_uploads %>
      </div>
    </div>
  <% end %>
</div>
