<%= form_tag polymorphic_path([main_app, :server_upload, @change_set]), id: "server-upload-form" do %>
 <div class="row" id="ba-row">
    <div class="col-md-12">
      <div class="server-upload-container card card-body bg-light">
        <embedded-file-browser :start-tree='<%= FileBrowserDiskProvider.new(root: Figgy.config["ingest_folder_path"]).to_json %>' form-id='server-upload-form' />
      </div>
    </div>
  <% end %>
</div>
