<div class="lux">
<div class="container">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <% if decorated_change_set_resource.try(:decorated_parent).present? %>
        <li class="breadcrumb-item"><%= link_to decorated_change_set_resource.decorated_parent.first_title, solr_document_path(id: "#{decorated_change_set_resource.decorated_parent.id}") %></li>
      <% end %>
      <li class="breadcrumb-item"><%= link_to decorated_change_set_resource.first_title, solr_document_path(id: "#{@change_set.id}") %></li>
      <li class="breadcrumb-item active" aria-current="page">Order Manager</li>
    </ol>
  </nav>
</div>
<order-manager resource-id="<%= @change_set.id %>" default-thumbnail="<%= image_url('default_thumbnail.png') %>"></order-manager>
</div>
