<div class="container">
<ul class="breadcrumb">
  <% if decorated_change_set_resource.try(:decorated_parent).present? %>
    <li><%= link_to decorated_change_set_resource.decorated_parent.first_title, solr_document_path(id: "#{decorated_change_set_resource.decorated_parent.id}") %></li>
  <% end %>
  <li><%= link_to decorated_change_set_resource.first_title, solr_document_path(id: "#{@change_set.id}") %></li>
  <li class="active">Order Manager</li>
</ul>
</div>
<card id="myCard">
  <media-image src="https://picsum.photos/600/300/?random" height="medium" cover></media-image>
  <heading level="h2">Title</heading>
  <text-style variation="default">Design isn’t just about the look and feel. Design is how it works.</text-style>
</card>
