<label class="form-control-label">Does this video legally require captions?&nbsp;<a id="caption-requirement-info" href="#" data-toggle="modal" data-target="#caption-requirement-modal" aria-label="Caption Requirement Info">
  <lux-icon-base width="18" height="18" icon-name="alert" icon-color="blue">
    <lux-icon-info></lux-icon-info>
  </lux-icon-base>
</a></label>
<%= f.input key,
  as: :radio_buttons,
  collection: ["Yes", "No"],
  checked: f.object.captions_required ? "Yes" : "No",
  required: f.object.required?(key) %>

<div class="modal fade" id="caption-requirement-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title"><lux-icon-base width="24" height="24" icon-name="alert" icon-color="blue"><lux-icon-info></lux-icon-info></lux-icon-base> Video Caption Requirement</h4>
        <button id="close-caption-requirement-modal" type="button" class="close" data-dismiss="modal" aria-label="Close"><span>&times;</span></button>
      </div>
      <div class="modal-body">
        <p>Princeton University Library has a legal obligation to provide adequate closed captioning for online educational content. Any resource that has videos containing important audio content will not be viewable until a caption is attached to each.</p>
        <p>Videos captions must be created in the original language of the spoken audio and must be attached in the WebVTT format. Captions are transcriptions of important audio (including non-spoken audio) that are synced with the video through time codes. Subtitles, translations, and transcriptions do not satisfy our Accessibility requirements.</p>
        <p>If your video is silent or contains audio content that is not essential to the content of the work, the video does not require a caption.</p>
      </div>
    </div>
  </div>
</div>
