<label class="control-label text optional" for="<%= ActiveModel::Naming.param_key(@change_set.resource) %>_coverage">Coverage</label>
<%= f.input :coverage, as: :hidden %>
<%= bbox_input(:coverage, @change_set) %>
