<div class="row">
<div class="col-md-6">
<%= f.simple_fields_for :date_range_form, wrapper: :inline_form do |g| %>
  <%= g.input :start, required: g.object.required?(:start) %>
  </div>
  <div class="col-md-6">
  <%= g.input :end, required: g.object.required?(:end) %>
  </div>
  <div class="col-md-6">
    <%= g.input :approximate, as: :boolean, required: g.object.required?(:approximate) %>
  </div>
<% end %>
</div>
