<div class="form-group">

  <label for="numismatics_issue_denomination" class="control-label select optional">Denomination</label>
  <input id="denomination" type="hidden" name="numismatics_issue[denomination]" value="<%= f.object.model.denomination&.first %>" />

  <select class="form-control select2" id="numismatics_issue_denomination" data-hidden="#denomination">
    <option <% f.object.model.denomination.blank? ? 'selected' : '' %></option>
    <% f.object.model.decorate.denominations.each do |denomination| %>
      <option <% f.object.model.denomination == denomination ? 'selected' : '' %> ><%= denomination %></option>
    <% end %>
  </select>
</div>
