<label for="ingest_directory">Ingest Folder&nbsp;<a href="#" data-toggle="modal" data-target="#bulk-structure-example-modal" aria-label="Ingest Folder Info">
    <lux-icon-base width="18" height="18" icon-name="alert" icon-color="blue">
      <lux-icon-info></lux-icon-info>
    </lux-icon-base>
  </a></label>
<div class="input-group mb-2">
  <%= text_field_tag :ingest_path, nil, class: 'form-control', readonly: true, id: 'ingest_path_field' %>
  <div class="input-group-append">
    <div class="input-group-text input-path-wrapper">
      <input-path-selector :start-tree='<%= FileBrowserDiskProvider.new(root: Figgy.config["ingest_folder_path"], entry_klass: SeleneEntry).to_json %>' input-element-id='ingest_path_field' summary-element-id='ingestDirectorySummary' />
    </div>
  </div>
</div>
