<label class="form-control-label">
  Choosing this option may display to patrons that this digitization is not the entire item, and if there's another digitization that isn't a portion it may take display priority.
</label>
<%= f.input :is_portion, as: :boolean %>
