<issue-monograms :members="<%= @numismatic_monogram_attributes.to_json %>"></issue-monograms>

<div class="panel panel-default">
  <div class="panel-heading">
    <label class="control-label string optional">Add a new Monogram</label>
  </div>
  <div class="panel-body">
    <div class="nested-numismatic-monogram-form">
      <issue-monogram-form></issue-monogram-form>
    </div>
  </div>
</div>
