<div class="form-group string optional">
  <%= f.label :numismatic_accession_id, required: f.object.required?(:numismatic_accession_id) %>
  <%= f.hidden_field :numismatic_accession_id, ajax_select_type: "Accession"  %>
</div>
