<div class="form-group">

  <label for="numismatics_issue_obverse_figure" class="control-label select optional">Obverse figure</label>
  <select class="form-control select2" id="numismatics_issue_obverse_figure" name="numismatics_issue[obverse_figure]">
    <option <% f.object.model.obverse_figure.blank? ? 'selected' : '' %>></option>
    <% @obverse_figures.each do |obverse_figure| %>
      <option <%= f.object.model.obverse_figure&.first == obverse_figure.value ? 'selected' : '' %> ><%= obverse_figure.value %></option>
    <% end %>
  </select>
</div>
