<div class="form-group">

  <label for="numismatics_issue_obverse_part" class="control-label select optional">Obverse part</label>
  <select class="form-control select2" id="numismatics_issue_obverse_part" name="numismatics_issue[obverse_part]">
    <option <% f.object.model.obverse_part.blank? ? 'selected' : '' %>></option>
    <% @obverse_parts.each do |obverse_part| %>
      <option <%= f.object.model.obverse_part&.first == obverse_part.value ? 'selected' : '' %> ><%= obverse_part.value %></option>
    <% end %>
  </select>
</div>
