<div class="row">
<%= f.simple_fields_for :recipient, wrapper: :inline_form do |g| %>
  <div class="col-md-6">
    <%= g.input :name, required: g.object.required?(:name), label: "Recipient Name" %>
  </div>
  <div class="col-md-6">
    <%= g.input :place, required: g.object.required?(:place), label: "Recipient Place" %>
  </div>
<% end %>
</div>
