<div class="form-group">

  <label for="numismatics_issue_reverse_part" class="control-label select optional">Reverse part</label>
  <select class="form-control select2" id="numismatics_issue_reverse_part" name="numismatics_issue[reverse_part]">
    <option <% f.object.model.reverse_part.blank? ? 'selected' : '' %>></option>
    <% @reverse_parts.each do |reverse_part| %>
      <option <%= f.object.model.reverse_part&.first == reverse_part.value ? 'selected' : '' %> ><%= reverse_part.value %></option>
    <% end %>
  </select>
</div>
