<div class="row">
  <div id="sender">
    <%= f.simple_fields_for :sender, wrapper: :inline_form do |g| %>
      <%= render 'sender_fields', f: g %>
    <% end %>
  </div>
  <div class="links">
    <%= link_to_add_association f, :sender, partial: 'sender_fields', force_non_association_create: true do %>
      Add
    <% end %>
  </div>
</div>
