<div class="form-group">

  <label for="numismatics_issue_shape" class="control-label select optional">Shape</label>
  <input id="shape" type="hidden" name="numismatics_issue[shape]" value="<%= f.object.model.shape&.first %>" />

  <select class="form-control select2" id="numismatics_issue_shape" data-hidden="#shape">
    <option <% f.object.model.shape.blank? ? 'selected' : '' %></option>
    <% f.object.model.decorate.shapes.each do |shape| %>
      <option <% f.object.model.shape == shape ? 'selected' : '' %> ><%= shape %></option>
    <% end %>
  </select>
</div>
