<% current_id = @change_set.id if @change_set %>
<%= f.input :source_metadata_identifier, label: 'Source Metadata ID', disabled: f.object.title.present?, input_html: { class: 'mutex detect_duplicates', data: { id: current_id } } %>
<%= check_box_tag :refresh_remote_metadata, 1, false %>
<label for="refresh_metadata">Refresh metadata from PULFA/Voyager</label>
