---
version: 2
jobs:
  build:
    working_directory: ~/figgy
    docker:
      - image: circleci/ruby:2.6.5-node-browsers
        environment:
          RAILS_ENV: test
          FIGGY_DB_HOST: localhost
          FIGGY_DB_USERNAME: figgy
          FIGGY_DB_PASSWORD: ""
      - image: postgres:10.6-alpine
        environment:
          POSTGRES_USER: figgy
          POSTGRES_DB: figgy_test
          POSTGRES_HOST_AUTH_METHOD: trust
    steps:
      - checkout
      - run: sudo sh bin/ci_mediainfo_install.sh
      - run: sudo apt-get update
      - run: sudo apt-get install ca-certificates gdal-bin libgdal-dev libcairo2-dev libpango1.0-dev mediainfo libopenjp2-tools libopenjp2-7 libvips libvips-dev
      - run: sudo sh bin/ci_simple_tiles_install.sh
      - run: sudo sh bin/ci_free_tds_install.sh
      - run:
          name: Install node@lts/erbium (need right version for `yarn`)
          command: |
            set +e
            touch $BASH_ENV
            curl -o- https://raw.githubusercontent.com/creationix/nvm/v0.33.5/install.sh | bash
            echo 'export NVM_DIR="$HOME/.nvm"' >> $BASH_ENV
            echo '[ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh"' >> $BASH_ENV
            echo 'nvm install lts/erbium' >> $BASH_ENV
            echo 'nvm alias default lts/erbium' >> $BASH_ENV
      - run:
          name: Check current version of node
          command: node -v
      # Restore Cached Dependencies
      - type: cache-restore
        name: Restore bundle cache
        key: figgy-{{ checksum "Gemfile.lock" }}
      # Remove cached simpler-tiles - needs to be reinstalled every time.
      - run: rm vendor/bundle/ruby/2.6.0/specifications/simpler-tiles-0.3.1.gemspec || true
      # Install Bundler
      - run: gem install bundler -v '~> 2.0'
      # Bundle install dependencies
      - run: bundle install --path vendor/bundle
      # Cache Dependencies
      - type: cache-save
        name: Store bundle cache
        key: figgy-{{ checksum "Gemfile.lock" }}
        paths:
          - vendor/bundle
      # Only necessary if app uses webpacker or yarn in some other way
      - restore_cache:
          name: Restore Yarn Package Cache
          keys:
            - figgy-yarn-{{ checksum "yarn.lock" }}-cc732be
            - figgy-yarn-
      - run:
          name: Install NPM Dependencies via Yarn
          command: yarn install --frozen-lockfile
      # Store yarn / webpacker cache
      - save_cache:
          name: Save Yarn Package Cache
          key: figgy-yarn-{{ checksum "yarn.lock" }}
          paths:
            - ~/.cache/yarn
      - run: NODE_ENV=test bundle exec rails webpacker:compile
      - persist_to_workspace:
          root: '~/figgy'
          paths: '*'
  test:
    working_directory: ~/figgy
    docker:
      - image: circleci/ruby:2.6.5-node-browsers
        environment:
          RAILS_ENV: test
          FIGGY_DB_HOST: localhost
          FIGGY_DB_USERNAME: figgy
          FIGGY_DB_PASSWORD: ""
          MEDIAINFO_PATH: /usr/bin/mediainfo
      - image: postgres:9.6-alpine
        environment:
          POSTGRES_USER: figgy
          POSTGRES_DB: figgy_test
          POSTGRES_HOST_AUTH_METHOD: trust
      - image: solr:7.7-alpine
        command: bin/solr -cloud -noprompt -f -p 8984
    parallelism: 4
    environment:
      SPEC_OPTS: --format RspecJunitFormatter --out /tmp/test-results/rspec.xml --format progress
      COVERALLS_PARALLEL: true
    steps:
      - attach_workspace:
          at: '~/figgy'
      - run: sudo sh bin/ci_mediainfo_install.sh
      - run:
          name: Install Chrome
          command: |
            wget -q -O - https://dl.google.com/linux/linux_signing_key.pub | sudo apt-key add -
            sudo sh -c 'echo "deb [arch=amd64] http://dl.google.com/linux/chrome/deb/ stable main" >> /etc/apt/sources.list.d/google.list'
            sudo apt-get update
            sudo apt-get -y install google-chrome-stable
      - run: sudo apt-get update
      - run: sudo apt-get install ca-certificates gdal-bin libgdal-dev libcairo2-dev libpango1.0-dev tesseract-ocr tesseract-ocr-ita tesseract-ocr-eng mediainfo ffmpeg postgresql-client libopenjp2-tools libopenjp2-7 libvips libvips-dev ocrmypdf
      - run: sudo sh bin/ci_simple_tiles_install.sh
      - run: sudo sh bin/ci_free_tds_install.sh
      - run:
          name: Install node@lts/erbium (need right version for `yarn`)
          command: |
            set +e
            touch $BASH_ENV
            curl -o- https://raw.githubusercontent.com/creationix/nvm/v0.33.5/install.sh | bash
            echo 'export NVM_DIR="$HOME/.nvm"' >> $BASH_ENV
            echo '[ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh"' >> $BASH_ENV
            echo 'nvm install lts/erbium' >> $BASH_ENV
            echo 'nvm alias default lts/erbium' >> $BASH_ENV
      - run:
          name: Check current version of node
          command: node -v
      # Wait for DB
      - run: dockerize -wait tcp://localhost:5432 -timeout 1m
      - run: sudo sh bin/ci_kakadu_install.sh
      # Remove cached simpler-tiles - needs to be reinstalled every time.
      - run: rm vendor/bundle/ruby/2.6.0/specifications/simpler-tiles-0.3.1.gemspec || true
      # Install Bundler
      - run: gem install bundler -v '~> 2.0'
      # Bundle install dependencies
      - run: bundle install --path vendor/bundle
      - run: yarn exec jest --coverage
      - run:
          name: Load config into solr
          command: |
            cd solr/config
            zip -1 -r solr_config.zip ./*
            curl -H "Content-type:application/octet-stream" --data-binary @solr_config.zip "http://localhost:8984/solr/admin/configs?action=UPLOAD&name=figgy"
            curl -H 'Content-type: application/json' http://localhost:8984/api/collections/ -d '{create: {name: figgy-core-test, config: figgy, numShards: 1}}'
      - run: bundle exec rake db:migrate
      - run:
          name: Run rspec in parallel
          command: |
            mkdir /tmp/test-results
            bundle exec rspec $(circleci tests glob "spec/**/*_spec.rb" | circleci tests split --split-by=timings)
      - run:
          name: Stash Coverage Results
          command: |
            mkdir coverage_results
            cp -R coverage/.resultset.json coverage_results/.resultset-${CIRCLE_NODE_INDEX}.json
      - persist_to_workspace:
          root: '~/figgy'
          paths: 'coverage_results'
      # collect reports
      - store_test_results:
          path: /tmp/test-results
      - store_artifacts:
          path: /tmp/test-results
          destination: test-results
  coverage_report:
    working_directory: ~/figgy
    docker:
      - image: circleci/ruby:2.6.5-node-browsers
    steps:
      - attach_workspace:
          at: '~/figgy'
      - run: gem install simplecov -v '~> 0.16.0'
      - run: gem install activesupport -v 5.1.6.2
      - run:
          name: Merge and check coverage
          command: |
            RAILS_ENV=test ruby ./scripts/combine_coverage.rb
      - store_artifacts:
          path: ~/figgy/coverage
          destination: coverage
  rubocop:
    working_directory: ~/figgy
    docker:
      - image: circleci/ruby:2.6.5-node-browsers
        environment:
          RAILS_ENV: test
          FIGGY_DB_HOST: localhost
          FIGGY_DB_USERNAME: figgy
          FIGGY_DB_PASSWORD: ""
    steps:
      - attach_workspace:
          at: '~/figgy'
      - run: sudo sh bin/ci_mediainfo_install.sh
      - run: sudo apt-get update
      - run: sudo apt-get install ca-certificates gdal-bin libgdal-dev libcairo2-dev libpango1.0-dev mediainfo libvips libvips-dev
      - run: sudo sh bin/ci_simple_tiles_install.sh
      - run: sudo sh bin/ci_free_tds_install.sh
      - run:
          name: Install node@lts/erbium (need right version for `yarn`)
          command: |
            set +e
            touch $BASH_ENV
            curl -o- https://raw.githubusercontent.com/creationix/nvm/v0.33.5/install.sh | bash
            echo 'export NVM_DIR="$HOME/.nvm"' >> $BASH_ENV
            echo '[ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh"' >> $BASH_ENV
            echo 'nvm install lts/erbium' >> $BASH_ENV
            echo 'nvm alias default lts/erbium' >> $BASH_ENV
      - run:
          name: Check current version of node
          command: node -v
      # Remove cached simpler-tiles - needs to be reinstalled every time.
      - run: rm vendor/bundle/ruby/2.6.0/specifications/simpler-tiles-0.3.1.gemspec || true
      # Install Bundler
      - run: gem install bundler -v '~> 2.0'
      # Bundle install dependencies
      - run: bundle install --path vendor/bundle
      - run: bundle exec rake rubocop
      - run: yarn lint
  ensure_release_notes:
    working_directory: ~/figgy
    docker:
      - image: circleci/ruby:2.6.5-node-browsers
        environment:
          RAILS_ENV: test
          FIGGY_DB_HOST: localhost
          FIGGY_DB_USERNAME: figgy
          FIGGY_DB_PASSWORD: ""
    steps:
      - checkout
      - run: bin/ci_check_release_notes.sh
workflows:
  version: 2
  build_accept_deploy:
    jobs:
      - build
      - test:
          requires:
            - build
      - rubocop:
          requires:
            - build
      - coverage_report:
          requires:
            - test
      - ensure_release_notes:
          filters:
            branches:
              ignore:
                - master
  nightly:
    triggers:
      - schedule:
          cron: "0 0 * * *"
          filters:
            branches:
              only:
                - master
    jobs:
      - build
      - test:
          requires:
            - build
      - rubocop:
          requires:
            - build
      - coverage_report:
          requires:
            - test
