---
version: 2
jobs:
  build:
    working_directory: ~/figgy
    docker:
      - image: circleci/ruby:2.4.5-node-browsers
        environment:
          RAILS_ENV: test
          FIGGY_DB_HOST: localhost
          FIGGY_DB_USERNAME: figgy
          FIGGY_DB_PASSWORD:  ""
      - image: postgres:10.6-alpine
        environment:
          POSTGRES_USER: figgy
          POSTGRES_DB: figgy_test
          POSTGRES_PASSWORD: ""
    steps:
      - checkout
      - run: sudo apt-get update
      - run: sudo apt-get install gdal-bin libgdal-dev libcairo2-dev libpango1.0-dev mediainfo
      - run: sudo sh bin/ci_simple_tiles_install.sh
      - run: sudo sh bin/ci_free_tds_install.sh
      # Restore Cached Dependencies
      - type: cache-restore
        name: Restore bundle cache
        key: figgy-{{ checksum "Gemfile.lock" }}
      # Remove cached simpler-tiles - needs to be reinstalled every time.
      - run: rm vendor/bundle/ruby/2.3.0/specifications/simpler-tiles-0.3.1.gemspec || true
      # Bundle install dependencies
      - run: bundle install --path vendor/bundle
      # Cache Dependencies
      - type: cache-save
        name: Store bundle cache
        key: figgy-{{ checksum "Gemfile.lock" }}
        paths:
          - vendor/bundle
      # Only necessary if app uses webpacker or yarn in some other way
      - restore_cache:
          name: Restore Yarn Package Cache
          keys:
            - figgy-yarn-{{ checksum "yarn.lock" }}-cc732be
            - figgy-yarn-
      - run:
          name: Install NPM Dependencies via Yarn
          command: yarn install --frozen-lockfile
      # Store yarn / webpacker cache
      - save_cache:
          name: Save Yarn Package Cache
          key: figgy-yarn-{{ checksum "yarn.lock" }}
          paths:
            - ~/.cache/yarn
      - run: NODE_ENV=test bundle exec rails webpacker:compile
      - persist_to_workspace:
          root: '~/figgy'
          paths: '*'
  test:
    working_directory: ~/figgy
    docker:
      - image: circleci/ruby:2.4.5-node-browsers
        environment:
          RAILS_ENV: test
          FIGGY_DB_HOST: localhost
          FIGGY_DB_USERNAME: figgy
          FIGGY_DB_PASSWORD:  ""
          MEDIAINFO_PATH: /usr/bin/mediainfo
      - image: postgres:9.6-alpine
        environment:
          POSTGRES_USER: figgy
          POSTGRES_DB: figgy_test
          POSTGRES_PASSWORD: ""
    steps:
      - attach_workspace:
          at: '~/figgy'
      - run: sudo apt-get update
      - run: sudo apt-get install gdal-bin libgdal-dev libcairo2-dev libpango1.0-dev tesseract-ocr tesseract-ocr-ita tesseract-ocr-eng mediainfo ffmpeg postgresql-client
      - run: sudo sh bin/ci_simple_tiles_install.sh
      - run: sudo sh bin/ci_free_tds_install.sh
      # Wait for DB
      - run: dockerize -wait tcp://localhost:5432 -timeout 1m
      - run: sudo sh bin/ci_kakadu_install.sh
      # Remove cached simpler-tiles - needs to be reinstalled every time.
      - run: rm vendor/bundle/ruby/2.3.0/specifications/simpler-tiles-0.3.1.gemspec || true
      # Bundle install dependencies
      - run: bundle install --path vendor/bundle
      - run:
          command: bundle exec rake figgy:test
          background: true
      - run: bin/jetty_wait
      - run: bundle exec rake db:migrate
      - run: bundle exec rspec spec
  rubocop:
    working_directory: ~/figgy
    docker:
      - image: circleci/ruby:2.4.5-node-browsers
        environment:
          RAILS_ENV: test
          FIGGY_DB_HOST: localhost
          FIGGY_DB_USERNAME: figgy
          FIGGY_DB_PASSWORD:  ""
    steps:
      - attach_workspace:
          at: '~/figgy'
      - run: sudo apt-get update
      - run: sudo apt-get install gdal-bin libgdal-dev libcairo2-dev libpango1.0-dev mediainfo
      - run: sudo sh bin/ci_simple_tiles_install.sh
      - run: sudo sh bin/ci_free_tds_install.sh
      # Remove cached simpler-tiles - needs to be reinstalled every time.
      - run: rm vendor/bundle/ruby/2.3.0/specifications/simpler-tiles-0.3.1.gemspec || true
      # Bundle install dependencies
      - run: bundle install --path vendor/bundle
      - run: bundle exec rake rubocop
workflows:
  version: 2
  build_accept_deploy:
    jobs:
      - build
      - test:
          requires:
            - build
      - rubocop:
          requires:
            - build
  nightly:
    triggers:
      - schedule:
          cron: "0 0 * * *"
          filters:
            branches:
              only:
                - master
    jobs:
      - build
      - test:
          requires:
            - build
      - rubocop:
          requires:
            - build
