<div>
  <library-header app-name="Figgy" app-url="/">
    <menu-bar type="main-menu" :menu-items="[
        {name: 'Release Notes', component: 'Release Notes', href: '/release_notes'}
      ]"
    ></menu-bar>
  </library-header>
</div>
