<div class="container">
  <a href="<%= t('valhalla.institution.homepage_url') %>" title="<%= t('valhalla.institution.name') %>" class="logo__pul col-xs-12 col-sm-6">
     <%= image_tag("library_full_logo.svg", class: "logo-svg") %>
     <%= image_tag("library_full_logo.png", class: "logo-no-svg") %>
  </a>
</div>
