<div class="flash-message">
  <div class="container">
      <% [[:notice, 'alert-success'],[:error, 'alert-danger'],[:alert, 'alert-info']].each do |type, flash_dom_class| %>
        <% if flash[type] %>
          <div class="alert <%= flash_dom_class %> ui-corner-all <%= type.to_s %>">
            <a class="close" data-dismiss="alert" href="#">×</a>
            <%= sanitize(flash[type]) %>
          </div>
          <% flash.delete(type) %>
        <% end %>
      <% end %>
      <!-- for javascript triggered flash alerts -->
      <div class="alert alert-success ui-corner-all alert-dismissable alert-js hidden">
        <a class="close" href="#">×</a>
        <span class="text"></span>
      </div>
  </div>
</div>
