<header id="banner" role="banner">
  <div class="l-branding__pul">
   <%= render 'shared/brand_bar' %>
  </div>
  <div class="header__secondary">
    <%= render 'shared/title_bar' %>
  </div>
</header>
