<div class="btn-group my-actions">
  <a class="btn btn-primary dropdown-toggle user-display-name" data-toggle="dropdown" href="#">
    <%= current_user.user_key %>
    <span class="caret"></span>
  </a>
  <ul class="dropdown-menu dropdown-menu-right">
    <li>
      <%= link_to 'Log Out', main_app.destroy_user_session_path, class: 'log-out', role: 'menuitem' %>
    </li>
  </ul>
</div>

