<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" id="viewer-modal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <div class="clearfix"></div>
      <%= openseadragon_picture_tag '', data: { openseadragon: { showRotationControl: true }} %>
    </div>
  </div>
</div>

