<div class="container">
  <div id="title-bar" class="row">
    <div id="site-search" class="col-md-6">
      <%= render 'shared/site_search' %>
    </div>
    <nav id="site-actions" class="col-md-6" role="menu">
      <%= render 'shared/site_actions' %>
    </nav>
  </div>
</div>
