<div class="form-group">

  <label for="numismatics_issue_color" class="control-label select optional">Color</label>
  <input id="color" type="hidden" name="numismatics_issue[color]" value="<%= f.object.model.color&.first %>" />

  <select class="form-control select2" id="numismatics_issue_color" data-hidden="#color">
    <option></option>
    <% @colors.each do |color| %>
      <option <%= f.object.model.color&.first == color.value ? 'selected' : '' %> ><%= color.value %></option>
    <% end %>
  </select>
</div>
