<div class="form-group">

  <label for="numismatics_issue_edge" class="control-label select optional">Edge</label>
  <select class="form-control select2" id="numismatics_issue_edge" name="numismatics_issue[edge]">
    <option></option>
    <% @edges.each do |edge| %>
      <option <%= f.object.model.edge&.first == edge.value ? 'selected' : '' %> ><%= edge.value %></option>
    <% end %>
  </select>
</div>
