<div id="numismatic_note">
  <%= f.simple_fields_for :numismatic_note, wrapper: :inline_form do |g| %>
    <%= render 'numismatic_note_fields', f: g %>
  <% end %>
</div>
<div class="links">
  <%= link_to_add_association f, :numismatic_note, partial: 'numismatic_note_fields', force_non_association_create: true do %>
    <button type="button" class="btn btn-link add">
      <span class="glyphicon glyphicon-plus"></span>
      <span class="controls-add-text">Add another Note</span>
    </button>
  <% end %>
</div>
