<div id="numismatic_subject">
  <%= f.simple_fields_for :numismatic_subject, wrapper: :inline_form do |g| %>
    <%= render 'numismatic_subject_fields', f: g %>
  <% end %>
</div>
<div class="links">
  <%= link_to_add_association f, :numismatic_subject, partial: 'numismatic_subject_fields', force_non_association_create: true do %>
    <button type="button" class="btn btn-link add">
      <span class="glyphicon glyphicon-plus"></span>
      <span class="controls-add-text">Add another Subject</span>
    </button>
  <% end %>
</div>
