<%= f.input :numismatic_place_id,
            label: "Place",
            collection: @numismatic_places&.sort_by(&:title),
            label_method: :title,
            value_method: :id,
            input_html: { multiple: f.object.multiple?(key) },
            include_blank: true,
            required: f.object.required?(key) %>

<div class="panel panel-default">
  <div class="panel-heading">
    <label class="control-label string optional">Add a new Place</label>
  </div>

  <div class="panel-body">
    <div id="numismatic_place">
      <% new_place = Numismatics::Place.new %>
      <% new_place_change_set = Numismatics::PlaceChangeSet.new(new_place) %>

      <%= simple_form_for new_place_change_set do |g| %>
        <%= render 'numismatic_place_fields', f: g %>
      <% end %>

    </div>
    <div class="links">
      <%= link_to_add_association f, :numismatic_place, partial: 'numismatic_place_fields', force_non_association_create: true do %>
        <button type="button" class="btn btn-link add">
          <span class="glyphicon glyphicon-plus"></span>
          <span class="controls-add-text">Add another Place</span>
        </button>
      <% end %>
    </div>
  </div>
</div>
