<div class="form-group string optional lux">
  <%= f.label :ruler_id, required: f.object.required?(:ruler_id) %>
  <%= link_to 'New Ruler', new_numismatics_person_path, class: 'btn btn-sm btn-primary new-link', target: '_blank'%>
  <%= f.hidden_field :ruler_id, ajax_select_type: "Person" %>
</div>
