<div class="form-group">

  <label for="numismatics_issue_shape" class="control-label select optional">Shape</label>
  <input id="shape" type="hidden" name="numismatics_issue[shape]" value="<%= f.object.model.shape&.first %>" />

  <select class="form-control select2" id="numismatics_issue_shape" data-hidden="#shape">
    <option <% f.object.model.shape.blank? ? 'selected' : '' %></option>
    <% @shapes.each do |shape| %>
      <option <%= f.object.model.shape&.first == shape.value ? 'selected' : '' %> ><%= shape.value %></option>
    <% end %>
  </select>
</div>
