<div class="form-group">

  <label for="numismatics_issue_shape" class="col-form-label select optional">Shape</label>
  <select class="form-control select2" id="numismatics_issue_shape" name="numismatics_issue[shape]">
    <option></option>
    <% @shapes.each do |shape| %>
      <option <%= f.object.model.shape&.first == shape.value ? 'selected' : '' %> ><%= shape.value %></option>
    <% end %>
  </select>
</div>
