<% content_for :head do %>
  <%= stylesheet_link_tag 'application' %>
  <%= stylesheet_pack_tag 'application' %>
<% end %>
<div id="loginContainer">
  <%= link_to 'Princeton Users: Log in to View', main_app.new_user_session_path, class: 'btn btn-primary', id: "login" %>
</div>
