<h1 id="title" class="lux-heading h1" style="display: none;"></h1>
<%# We generate a rails form to have a csrf token %>
<%# then adjust it as-needed in cdl_timer.js %>
<%= form_with id: "return-early-form", action: "/cdl/:id/return" do |f| %>
<%= hidden_field_tag(:id) %>
<% end %>
<div id="notice-modal" class="d-none">
  <h2 id="notice-heading"></h2>
  <div id="notice-text"></div>
  <input id="notice-accept" value="Accept" type="submit"></input>
</div>
<div class="container--tabs">
  <section class="row">
    <ul class="nav nav-tabs" id="tab-container">
      <li class="active"><a href="#tab-1">Default</a></li>
      <li id="map-tab" class=""><a href="#map-tab-content">Map</a></li>
    </ul>
    <div class="tab-content">
      <div id="tab-1" class="tab-pane active">
        <div id="view" class="document-viewers widget-list">
          <div class="intrinsic-container intrinsic-container-16x9" id="viewer-container">
            <div id="uv" class="uv"></div>
          </div>
        </div>
      </div> 
      <div id="map-tab-content" class="tab-pane" data-tilemetadata="<%= "#{root_url}tilemetadata" %>">
        <div class="document-viewers widget-list">
          <div class="intrinsic-container intrinsic-container-16x9" id="viewer-container">
            <div id="leaflet" class="leaflet"></div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
