<h1 id="title" class="lux-heading h1" style="display: none;"></h1>
<div id="loginContainer" style="display: none;">
  <button type="button" class="lux-button text medium" id="login">Princeton Users: Log in to View</button>
</div>
<div id="uv" class="uv"></div>
