defaults: &defaults
  storage_bucket: "figgy-staging-storage"
  preservation_bucket: "figgy-staging-preservation"
  fixity_status_topic: "figgy-staging-fixity-status"
  fixity_request_topic: "figgy-staging-fixity-request"
  disk_preservation_path: <%= Rails.root.join("tmp", "cloud_backup") %>
  locations_url: https://bibdata.princeton.edu/locations/digital_locations.json
  derivative_path: <%= Rails.root.join("tmp", "derivatives") %>
  geo_derivative_path: <%= Rails.root.join("tmp", "geo_derivatives") %>
  stream_derivatives_path: <%= Rails.root.join("tmp", "stream_derivatives") %>
  repository_path: <%= Rails.root.join("tmp", "files") %>
  cantaloupe_url: <%= ENV.fetch('CANTALOUPE_URL', 'http://localhost:8182/iiif/2/') %>
  bag_path: <%= Rails.root.join("tmp", "bags") %>
  pudl_root: <%= Rails.root.join("tmp", "pudl_root") %>
  scanned_map_processing_note: <%= ENV.fetch('SCANNED_MAP_PROCESSING_NOTE', 'Scanned with an HD Ultra i4290s scanner using Nextimage 4.5.2 software') %>
  export_base: <%= ENV['FIGGY_EXPORT_BASE'] || Rails.root.join("tmp", "export") %>
  default_search_directory: studio_new/DPUL
  jp2_recipes:
    default_color: >
      -rate 2.4,1.48331273,.91673033,.56657224,.35016049,.21641118,.13374944,.08266171
      -jp2_space sRGB
      -double_buffering 10
      -num_threads 1
      -no_weights
      Clevels=6
      Clayers=8
      Cblk=\{64,64\}
      Cuse_sop=yes
      Cuse_eph=yes
      Corder=RPCL
      ORGgen_plt=yes
      ORGtparts=R
      Stiles=\{1024,1024\}
    default_gray: >
      -rate 2.4,1.48331273,.91673033,.56657224,.35016049,.21641118,.13374944,.08266171
      -jp2_space sLUM
      -double_buffering 10
      -num_threads 1
      -no_weights
      Clevels=6
      Clayers=8
      Cblk=\{64,64\}
      Cuse_sop=yes
      Cuse_eph=yes
      Corder=RPCL
      ORGgen_plt=yes
      ORGtparts=R
      Stiles=\{1024,1024\}
    geo_color: >
      -no_palette
      -rate 2.4,1.48331273,.91673033,.56657224,.35016049,.21641118,.13374944,.08266171
      -jp2_space sRGB
      -double_buffering 10
      -num_threads 1
      -no_weights
      Clevels=6
      Clayers=8
      Cblk=\{64,64\}
      Cuse_sop=yes
      Cuse_eph=yes
      Corder=RPCL
      ORGgen_plt=yes
      ORGtparts=R
      Stiles=\{1024,1024\}
    geo_gray: >
      -no_palette
      -rate 2.4,1.48331273,.91673033,.56657224,.35016049,.21641118,.13374944,.08266171
      -jp2_space sLUM
      -double_buffering 10
      -num_threads 1
      -no_weights
      Clevels=6
      Clayers=8
      Cblk=\{64,64\}
      Cuse_sop=yes
      Cuse_eph=yes
      Corder=RPCL
      ORGgen_plt=yes
      ORGtparts=R
      Stiles=\{1024,1024\}
  events:
    server: 'amqp://localhost:5672'
    exchange:
      figgy: "figgy_events"
      geoblacklight: "gbl_events"
      geoserver: "geoserver_events"
      orangelight: "orangelight_events"
  vocabulary_namespace: <%= ENV.fetch('FIGGY_VOCAB_NS', 'https://figgy.princeton.edu/ns/') %>
  devise:
    omniauth:
      cas:
        host: <%= ENV.fetch('CAS_HOST', 'fed.princeton.edu') %>
        url: <%= ENV.fetch('CAS_URL', 'https://fed.princeton.edu/cas') %>
  access_control:
    # expects a space-delimited list, e.g. "1.2.3 1.2.4 1.2.5"
    reading_room_ips: <%= ENV.fetch('READING_ROOM_IPS', "").split %>
    # list from https://www.net.princeton.edu/ip-network-ranges.html
    campus_ip_ranges: <%= %w[128.112.0.0/16 140.180.0.0/16 204.153.48.0/23 66.180.176.0/24 66.180.177.0/24 66.180.180.0/22 2001:470:10e::/48 2620:c4::/48 2604:4540::/32] %>
  geoserver:
    url: <%= ENV['GEOSERVER_URL'] || "http://localhost:8080/geoserver" %>
    derivatives_path: <%= ENV['GEOSERVER_DERIVATIVES_PATH'] || Rails.root.join("tmp", "geo_derivatives") %>
    open:
      workspace: <%= ENV['PUBLIC_GEOSERVER_WS'] || "public-figgy" %>
    authenticated:
      workspace: <%= ENV['RESTRICTED_GEOSERVER_WS'] || "restricted-figgy" %>
  characterization:
    imagemagick:
      supported_mime_types:
        - 'image/tiff'
        - 'image/jpeg'
    mediainfo:
      supported_mime_types:
        - 'audio/x-wav'
        - 'audio/mpeg'

development:
  <<: *defaults
  repository_path: <%= Rails.root.join("tmp", "more_files") %>

test:
  <<: *defaults
  repository_path: <%= Rails.root.join("tmp", "test_files") %>
  derivative_path: <%= Rails.root.join("tmp", "test_derivatives") %>
  geo_derivative_path: <%= Rails.root.join("tmp", "test_geo_derivatives") %>
  bag_path: <%= Rails.root.join("tmp", "test_bags") %>
  export_base: <%= Rails.root.join("tmp", "test_export") %>
  pudl_root: <%= Rails.root.join("spec", "fixtures", "test_pudl_root") %>
  disk_preservation_path: <%= Rails.root.join("tmp", "cloud_backup_test") %>
  events:
    log_file: '/dev/null'
  devise:
    omniauth:
      cas:
        host: <%= ENV.fetch('CAS_HOST', 'localhost.localdomain') %>
        url: <%= ENV.fetch('CAS_URL', 'https://localhost.localdomain/cas') %>
  geoserver:
    url: <%= ENV['GEOSERVER_URL'] || "http://localhost:8080/geoserver" %>
    derivatives_path: <%= ENV['GEOSERVER_DERIVATIVES_PATH'] || Rails.root.join("tmp", "test_geo_derivatives") %>
    open:
      workspace: <%= ENV['PUBLIC_GEOSERVER_WS'] || "public-figgy" %>
    authenticated:
      workspace: <%= ENV['RESTRICTED_GEOSERVER_WS'] || "restricted-figgy" %>

production:
  <<: *defaults
  repository_path: "/opt/repository/files"
  derivative_path: "/opt/repository/derivatives"
  geo_derivative_path: "/opt/repository/geo_derivatives"
  stream_derivatives_path: "/opt/repository/stream_derivatives"
  bag_path: <%= ENV["FIGGY_BAG_PATH"] || Rails.root.join("tmp", "bags") %>
  pudl_root: <%= ENV["FIGGY_PUDL_ROOT"]  %>
  preservation_bucket: <%= ENV["FIGGY_PRESERVATION_BUCKET"] || "figgy-preservation" %>
  fixity_status_topic: "figgy-production-fixity-status"
  fixity_request_topic: "figgy-production-fixity-request"
  events:
    server: <%= ENV['FIGGY_RABBIT_SERVER'] || 'amqp://localhost:5672' %>
    exchange:
      figgy: "figgy_events"
      geoblacklight: "gbl_events"
      geoserver: "geoserver_events"
      orangelight: "orangelight_events"

staging:
  <<: *defaults
  repository_path: "/opt/repository/files"
  derivative_path: "/opt/repository/derivatives"
  geo_derivative_path: "/opt/repository/geo_derivatives"
  stream_derivatives_path: "/opt/repository/stream_derivatives"
  bag_path: <%= ENV["FIGGY_BAG_PATH"] || Rails.root.join("tmp", "bags") %>
  pudl_root: <%= ENV["FIGGY_PUDL_ROOT"]  %>
  events:
    server: <%= ENV['FIGGY_RABBIT_SERVER'] || 'amqp://localhost:5672' %>
    exchange:
      figgy: "figgy_events"
      geoblacklight: "gbl_events"
      geoserver: "geoserver_events"
      orangelight: "orangelight_events"
  geoserver:
    url: <%= ENV['GEOSERVER_URL'] || "http://localhost:8080/geoserver" %>
    derivatives_path: <%= ENV['GEOSERVER_DERIVATIVES_PATH'] || Rails.root.join("tmp", "geo_derivatives") %>
    open:
      workspace: <%= ENV['PUBLIC_GEOSERVER_WS'] || "public-figgy-staging" %>
    authenticated:
      workspace: <%= ENV['RESTRICTED_GEOSERVER_WS'] || "restricted-figgy-staging" %>
