defaults: &defaults
  locations_url: https://bibdata.princeton.edu/locations/digital_locations.json
  derivative_path: <%= Rails.root.join("tmp", "derivatives") %>
  geo_derivative_path: <%= Rails.root.join("tmp", "geo_derivatives") %>
  stream_derivatives_path: <%= Rails.root.join("tmp", "stream_derivatives") %>
  repository_path: <%= Rails.root.join("tmp", "files") %>
  cantaloupe_url: <%= ENV.fetch('CANTALOUPE_URL', 'http://localhost:8182/iiif/2/') %>
  bag_path: <%= Rails.root.join("tmp", "bags") %>
  pudl_root: <%= Rails.root.join("tmp", "pudl_root") %>
  scanned_map_processing_note: <%= ENV.fetch('SCANNED_MAP_PROCESSING_NOTE', 'Scanned with an HD Ultra i4290s scanner using Nextimage 4.5.2 software') %>
  jp2_recipes:
    default_color: >
      -rate 2.4,1.48331273,.91673033,.56657224,.35016049,.21641118,.13374944,.08266171
      -jp2_space sRGB
      -double_buffering 10
      -num_threads 1
      -no_weights
      Clevels=6
      Clayers=8
      Cblk=\{64,64\}
      Cuse_sop=yes
      Cuse_eph=yes
      Corder=RPCL
      ORGgen_plt=yes
      ORGtparts=R
      Stiles=\{1024,1024\}
    default_gray: >
      -rate 2.4,1.48331273,.91673033,.56657224,.35016049,.21641118,.13374944,.08266171
      -jp2_space sLUM
      -double_buffering 10
      -num_threads 1
      -no_weights
      Clevels=6
      Clayers=8
      Cblk=\{64,64\}
      Cuse_sop=yes
      Cuse_eph=yes
      Corder=RPCL
      ORGgen_plt=yes
      ORGtparts=R
      Stiles=\{1024,1024\}
    geo_color: >
      -no_palette
      -rate 2.4,1.48331273,.91673033,.56657224,.35016049,.21641118,.13374944,.08266171
      -jp2_space sRGB
      -double_buffering 10
      -num_threads 1
      -no_weights
      Clevels=6
      Clayers=8
      Cblk=\{64,64\}
      Cuse_sop=yes
      Cuse_eph=yes
      Corder=RPCL
      ORGgen_plt=yes
      ORGtparts=R
      Stiles=\{1024,1024\}
    geo_gray: >
      -no_palette
      -rate 2.4,1.48331273,.91673033,.56657224,.35016049,.21641118,.13374944,.08266171
      -jp2_space sLUM
      -double_buffering 10
      -num_threads 1
      -no_weights
      Clevels=6
      Clayers=8
      Cblk=\{64,64\}
      Cuse_sop=yes
      Cuse_eph=yes
      Corder=RPCL
      ORGgen_plt=yes
      ORGtparts=R
      Stiles=\{1024,1024\}
  events:
    server: 'amqp://localhost:5672'
    exchange:
      figgy: "figgy_events"
      geoblacklight: "gbl_events"
      geoserver: "geoserver_events"
  vocabulary_namespace: <%= ENV.fetch('FIGGY_VOCAB_NS', 'https://figgy.princeton.edu/ns/') %>
  devise:
    omniauth:
      cas:
        host: <%= ENV.fetch('CAS_HOST', 'fed.princeton.edu') %>
        url: <%= ENV.fetch('CAS_URL', 'https://fed.princeton.edu/cas') %>
  geoserver:
    url: <%= ENV['GEOSERVER_URL'] || "http://localhost:8080/geoserver" %>
    derivatives_path: <%= ENV['GEOSERVER_DERIVATIVES_PATH'] || Rails.root.join("tmp", "geo_derivatives") %>
    open:
      workspace: <%= ENV['PUBLIC_GEOSERVER_WS'] || "public-figgy" %>
    authenticated:
      workspace: <%= ENV['RESTRICTED_GEOSERVER_WS'] || "restricted-figgy" %>
  characterization:
    imagemagick:
      supported_mime_types:
        - 'image/tiff'
        - 'image/jpeg'
    mediainfo:
      supported_mime_types:
        - 'audio/wav'
        - 'audio/mpeg'

development:
  <<: *defaults
  repository_path: <%= Rails.root.join("tmp", "more_files") %>

test:
  <<: *defaults
  repository_path: <%= Rails.root.join("tmp", "test_files") %>
  derivative_path: <%= Rails.root.join("tmp", "test_derivatives") %>
  geo_derivative_path: <%= Rails.root.join("tmp", "test_geo_derivatives") %>
  bag_path: <%= Rails.root.join("tmp", "test_bags") %>
  pudl_root: <%= Rails.root.join("spec", "fixtures", "test_pudl_root") %>
  events:
    log_file: '/dev/null'
  devise:
    omniauth:
      cas:
        host: <%= ENV.fetch('CAS_HOST', 'localhost.localdomain') %>
        url: <%= ENV.fetch('CAS_URL', 'https://localhost.localdomain/cas') %>
  geoserver:
    url: <%= ENV['GEOSERVER_URL'] || "http://localhost:8080/geoserver" %>
    derivatives_path: <%= ENV['GEOSERVER_DERIVATIVES_PATH'] || Rails.root.join("tmp", "test_geo_derivatives") %>
    open:
      workspace: <%= ENV['PUBLIC_GEOSERVER_WS'] || "public-figgy" %>
    authenticated:
      workspace: <%= ENV['RESTRICTED_GEOSERVER_WS'] || "restricted-figgy" %>

production:
  <<: *defaults
  repository_path: "/opt/repository/files"
  derivative_path: "/opt/repository/derivatives"
  geo_derivative_path: "/opt/repository/geo_derivatives"
  stream_derivatives_path: "/opt/repository/stream_derivatives"
  bag_path: <%= ENV["FIGGY_BAG_PATH"] || Rails.root.join("tmp", "bags") %>
  pudl_root: <%= ENV["FIGGY_PUDL_ROOT"]  %>
  events:
    server: <%= ENV['FIGGY_RABBIT_SERVER'] || 'amqp://localhost:5672' %>
    exchange:
      figgy: "figgy_events"
      geoblacklight: "gbl_events"
      geoserver: "geoserver_events"

staging:
  <<: *defaults
  repository_path: "/opt/repository/files"
  derivative_path: "/opt/repository/derivatives"
  geo_derivative_path: "/opt/repository/geo_derivatives"
  stream_derivatives_path: "/opt/repository/stream_derivatives"
  bag_path: <%= ENV["FIGGY_BAG_PATH"] || Rails.root.join("tmp", "bags") %>
  pudl_root: <%= ENV["FIGGY_PUDL_ROOT"]  %>
  events:
    server: <%= ENV['FIGGY_RABBIT_SERVER'] || 'amqp://localhost:5672' %>
    exchange:
      figgy: "figgy_events"
      geoblacklight: "gbl_events"
      geoserver: "geoserver_events"
  geoserver:
    url: <%= ENV['GEOSERVER_URL'] || "http://localhost:8080/geoserver" %>
    derivatives_path: <%= ENV['GEOSERVER_DERIVATIVES_PATH'] || Rails.root.join("tmp", "geo_derivatives") %>
    open:
      workspace: <%= ENV['PUBLIC_GEOSERVER_WS'] || "public-figgy-staging" %>
    authenticated:
      workspace: <%= ENV['RESTRICTED_GEOSERVER_WS'] || "restricted-figgy-staging" %>
