defaults: &defaults
  locations_url: https://bibdata.princeton.edu/locations/digital_locations.json
  derivative_path: <%= Rails.root.join("tmp", "derivatives") %>
  repository_path: <%= Rails.root.join("tmp", "files") %>
  cantaloupe_url: <%= ENV.fetch('CANTALOUPE_URL', 'http://localhost:8182/iiif/2/') %>
  plum_solr_url: "http://127.0.0.1:8984/solr/blacklight-core-test"
  plum_binary_path: "/mnt/diglibdata/hydra_binaries"
  plum_derivative_path: "/mnt/libimages1/data/jp2s/plum_prod"
  jp2_recipes:
    default_color: >
      -rate 2.4,1.48331273,.91673033,.56657224,.35016049,.21641118,.13374944,.08266171
      -jp2_space sRGB
      -double_buffering 10
      -num_threads 1
      -no_weights
      Clevels=6
      Clayers=8
      Cblk=\{64,64\}
      Cuse_sop=yes
      Cuse_eph=yes
      Corder=RPCL
      ORGgen_plt=yes
      ORGtparts=R
      Stiles=\{1024,1024\}
    default_gray: >
      -rate 2.4,1.48331273,.91673033,.56657224,.35016049,.21641118,.13374944,.08266171
      -jp2_space sLUM
      -double_buffering 10
      -num_threads 1
      -no_weights
      Clevels=6
      Clayers=8
      Cblk=\{64,64\}
      Cuse_sop=yes
      Cuse_eph=yes
      Corder=RPCL
      ORGgen_plt=yes
      ORGtparts=R
      Stiles=\{1024,1024\}
    geo_color: >
      -no_palette
      -rate 2.4,1.48331273,.91673033,.56657224,.35016049,.21641118,.13374944,.08266171
      -jp2_space sRGB
      -double_buffering 10
      -num_threads 1
      -no_weights
      Clevels=6
      Clayers=8
      Cblk=\{64,64\}
      Cuse_sop=yes
      Cuse_eph=yes
      Corder=RPCL
      ORGgen_plt=yes
      ORGtparts=R
      Stiles=\{1024,1024\}
    geo_gray: >
      -no_palette
      -rate 2.4,1.48331273,.91673033,.56657224,.35016049,.21641118,.13374944,.08266171
      -jp2_space sLUM
      -double_buffering 10
      -num_threads 1
      -no_weights
      Clevels=6
      Clayers=8
      Cblk=\{64,64\}
      Cuse_sop=yes
      Cuse_eph=yes
      Corder=RPCL
      ORGgen_plt=yes
      ORGtparts=R
      Stiles=\{1024,1024\}
  events:
    server: 'amqp://localhost:5672'
    exchange:
      plum: "plum_events"
      geoblacklight: "gbl_events"
  vocabulary_namespace: <%= ENV.fetch('FIGGY_VOCAB_NS', 'https://plum.princeton.edu/ns/') %>

development:
  <<: *defaults
  repository_path: <%= Rails.root.join("tmp", "more_files") %>

test:
  <<: *defaults
  plum_binary_path: <%= Rails.root.join("spec", "fixtures", "plum_binaries") %>
  plum_derivative_path: <%= Rails.root.join("spec", "fixtures", "plum_derivatives") %>
  repository_path: <%= Rails.root.join("tmp", "test_files") %>
  derivative_path: <%= Rails.root.join("tmp", "test_derivatives") %>
  events:
    log_file: '/dev/null'

production:
  <<: *defaults
  repository_path: "/opt/repository/files"
  derivative_path: "/opt/repository/derivatives"
  plum_solr_url: <%= ENV["PLUM_SOLR_URL"] %>
  plum_binary_path: <%= ENV["PLUM_BINARY_PATH"] || "/mnt/diglibdata/hydra_binaries" %>
  plum_derivative_path: <%= ENV["PLUM_DERIVATIVE_PATH"] || "/mnt/libimages1/data/jp2s/plum_prod" %>
  events:
    server: <%= ENV['FIGGY_RABBIT_SERVER'] || 'amqp://localhost:5672' %>
    exchange:
      plum: "plum_events"
      geoblacklight: "gbl_events"

staging:
  <<: *defaults
  repository_path: "/opt/repository/files"
  derivative_path: "/opt/repository/derivatives"
  plum_solr_url: <%= ENV["PLUM_SOLR_URL"] %>
  plum_binary_path: <%= ENV["PLUM_BINARY_PATH"] || "/mnt/diglibdata/hydra_binaries" %>
  plum_derivative_path: <%= ENV["PLUM_DERIVATIVE_PATH"] || "/mnt/libimages1/data/jp2s/plum_prod" %>
  events:
    server: <%= ENV['FIGGY_RABBIT_SERVER'] || 'amqp://localhost:5672' %>
    exchange:
      plum: "plum_events"
      geoblacklight: "gbl_events"
