<div class='nested-fields'>
  <div class="row">
    <div class="col-md-6">
      <%= f.input :type, required: f.object.required?(:type), label: "Type" %>
    </div>
    <div class="col-md-6">
      <%= f.input :subject, required: f.object.required?(:subject), label: "Subject" %>
    </div>
  </div>
  <%= f.hidden_field :id %>
  <%= link_to_remove_association f do %>
    <button type="button" class="btn btn-link remove">
      <span class="glyphicon glyphicon-remove"></span>
      <span class="controls-remove-text">Remove</span>
    </button>
  <% end %>
</div>

