      <legend class="bulk-ingest-legend">Options (4)</legend>
      <div class="form-group">
        <label for="collections">Collection(s)</label>
        <%= select_tag "collections", options_for_select(@collections), multiple: true, class: "form-control" %>
      </div>
