    <legend class="bulk-ingest-legend">Multi-Volume Work (4)</legend>
    <ul class="multivolume">
      <li class="radio">
        <label>
          <%= radio_button_tag :mvw, "false", checked: true %>
          <span>False<span>
        </label>
      </li>
      <li class="radio">
        <label>
          <%= radio_button_tag :mvw, "true" %>
          <span>True<span>
        </label>
      </li>
    </ul>
