    <legend class="bulk-ingest-legend">Visibility (3)</legend>
    <ul class="set-access-controls visibility">
      <% @visibility.each_with_index do |viz, i| %>
        <li class="radio">
          <label>
            <%= radio_button_tag :visibility, viz.value, viz.value == "open" %>
            <%= visibility_badge(viz.value) %>
            <%= viz.definition %>
          </label>
        </li>
      <% end %>
    </ul>
