<tr class="email-header">
  <td colspan="2" style="padding: 18px;">
    <%= render 'header' %>
  </td>
</tr>
<tr class="message">
  <td colspan="2" style="padding: 18px;">
    <p class="body-content">
      <%= @resource.decorate.first_title %> is now available for digital check out for the next hour.
    </p>
  </td>
</tr>
<tr>
  <td colspan="2">
    <div style="margin:18px;">
      <a href="<%= RemoteRecord.record_url(@resource.source_metadata_identifier.first) %>" target="_blank" style="border-style:solid;border-width:2px;border-color:#e77500;text-align:center;padding: 9px 18px;display: inline-block;font-weight:bold;" class="button-a">View & Check Out</a>
    </div>
  </td>
</tr>
