  <div class="admin-controls">
    <%= link_to "All Terms", ephemera_terms_path, class: 'btn btn-light' %>
    <% if can?(:update, resource) %>
      <%= link_to "Edit #{resource.human_readable_type}", main_app.polymorphic_path([:edit, resource]), class: 'btn btn-light' %>
    <% end %>
    <% if can?(:destroy, resource) %>
      <%= link_to "Delete This #{resource.human_readable_type}", main_app.polymorphic_path([resource]), class: 'btn btn-danger pull-right', data: { confirm: "Delete this #{resource.human_readable_type}?" }, method: :delete %>
    <% end %>
  </div>
