<div class="admin-controls">
  <% if can?(:update, resource) %>
    <%= link_to "Edit This #{resource.human_readable_type}", main_app.polymorphic_path([:edit, resource]), class: 'btn btn-light' %>
  <% end %>
  <% if can?(:order_manager, resource) %>
    <% if decorated_resource.manageable_order? %>
      <%= link_to "Order Manager", main_app.polymorphic_path([:order_manager, resource]), class: 'btn btn-light' %>
    <% end %>
  <% end %>
  <%= render "attach_child_default", resource: resource %>

  <% if can?(:destroy, resource) %>
    <%= link_to "Delete This #{resource.human_readable_type}", main_app.polymorphic_path([resource]), class: 'btn btn-danger pull-right', data: { confirm: "Delete this #{resource.human_readable_type}?" }, method: :delete %>
  <% end %>
</div>
