    <% if can?(:update, resource) %>
      <% decorated_resource = resource.decorate %>
      <% if decorated_resource.attachable_objects.length == 1 %>
        <% concern = decorated_resource.attachable_objects.first %>
        <%= link_to "Attach #{concern.human_readable_type}", polymorphic_path([:parent, :new, ActiveModel::Naming.param_key(concern).to_sym], parent_id: resource.id), class: 'btn btn-default' %>
      <% end %>
      <% if decorated_resource.attachable_objects.length > 1 %>
          <div class="btn-group dropup">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Attach Child <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
              <% decorated_resource.attachable_objects.each do |concern| %>
                <li>
                  <%= link_to "Attach #{concern.human_readable_type}", polymorphic_path([:parent, :new, ActiveModel::Naming.param_key(concern).to_sym], parent_id: resource.id) %>
                </li>
              <% end %>
            </ul>
          </div>
      <% end %>
    <% end %>
