    <% if can?(:update, resource) %>
      <% decorated_resource = resource.decorate %>
      <% if decorated_resource.attachable_objects.length == 1 %>
        <% concern = decorated_resource.attachable_objects.first %>
        <%= link_to "Attach #{concern.human_readable_type}", polymorphic_path([:parent, :new, ActiveModel::Naming.param_key(concern)], parent_id: resource.id), class: 'btn btn-light' %>
      <% end %>

      <% if decorated_resource.attachable_objects.length > 1 %>
          <div class="btn-group">
            <button type="button" class="btn btn-light dropdown-toggle" id="attachButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Attach Child <span class="caret"></span>
            </button>
            <div class="dropdown-menu" aria-labelledby="attachButton">
              <% decorated_resource.attachable_objects.each do |concern| %>
                <%= link_to "Attach #{concern.human_readable_type}",  polymorphic_path([:parent, :new, ActiveModel::Naming.param_key(concern)], parent_id: resource.id), class: "dropdown-item" %>
              <% end %>
            </div>
          </div>
      <% end %>
    <% end %>
