<% if @change_set.respond_to?(:auth_token) && @change_set.resource.decorate.public_readable_state? %>
  <div id="auth_link" class="card auth-link">
    <div class="card-header">
      <h2 class="card-title">Authorized Link</h2>
    </div>
    <div class="row card-body">
      <div class="col-sm-8" id="authorized-link">
        <%= build_authorized_link %>
      </div>
      <div class="col-sm-2" id="clipboard-trigger-holder">
      </div>
      <div class="col-sm-2">
        <% if can?(:edit, resource) %>
          <%= simple_form_for @change_set do |f| %>
            <%= f.input :mint_auth_token, as: :hidden, input_html: { value: "1" } %>
            <%= f.submit "Regenerate",
              class: ["submit", "btn", "btn-warning"],
              data: { confirm: "Are you sure you want to deactivate the existing Authorized Link and create a new one?" } %>
          <% end %>
        <% end %>
      </div>
    </div>
    <% if can?(:edit, resource) %>
      <div class="row card-body">
        <div class="col-sm-6 summary">
          <p>Authorized links provide anonymous, public users with the ability to view playlists and play tracks.  Each link is unique, and one may generate only a single link for any given playlist.  Regeneration replaces the current link, rendering any previous links invalid.</p>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
