<div class="row">
  <div class="col-md-12">
    <div class="panel panel-fixity panel-classify-work">
      <div class="panel-heading">Fixity</div>
      <div class="panel-body">
        <ul>
          <li><%= link_to 'Fixity Dashboard', fixity_dashboard_path %></li>
        </ul>
      </div>
    </div>
  </div>
</div>
