<% if can?(:read, :fixity) %>
  <div class="row">
    <div class="col-md-12">
      <div class="card card-classify-work">
        <div class="card-header">Fixity</div>
        <div class="card-body">
          <ul>
            <li><%= link_to 'Fixity Dashboard', fixity_dashboard_path %></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
<% end %>
