  <h2>Related Resources</h2>
  <%= render partial: 'member_resources_vector_resource' %>

  <h2>Parent Raster Resources</h2>
  <%= render partial: 'parent_resources_raster_resource' %>

  <h2>Parent Vector Resources</h2>
  <%= render partial: 'parent_resources_vector_resource' %>
