  <h2>Related Resources</h2>
  <%= render partial: 'member_resources_scanned_map' %>
  <%= render partial: 'member_resources',
    locals: { member_type: "raster_resource",
              decorated_members: decorated_resource.decorated_raster_resources } %>

  <h2>Scanned Maps</h2>
  <%= render partial: 'parent_resources_scanned_map' %>
