  <h2>Related Resources</h2>
  <%= render partial: 'member_resources_raster_resource' %>
  <%= render partial: 'member_resources_vector_resource' %>

  <h2>Scanned Maps</h2>
  <%= render partial: 'parent_resources_scanned_map' %>
