  <h2>Folders</h2>
  <%# DataTable looks for certain data attributes on initialization
    # https://datatables.net/examples/advanced_init/html5-data-options.html
    # here we sort descending by folder number %>
  <table id="members" class="table table-striped datatable" data-ajax='<%= polymorphic_path([:folders, resource], format: :json) %>' data-order='[[0, "desc"]]'>
    <thead>
    <tr>
      <% if decorated_resource.is_a?(EphemeraBox) %>
        <th data-data="folder_number">Folder Number</th>
      <% end %>
      <th data-data="workflow_state">Workflow State</th>
      <th data-data="title">Title</th>
      <th data-data="barcode">Barcode</th>
      <th data-data="genre">Genre</th>
      <th data-data="actions">Actions</th>
    </tr>
    </thead>
    <tbody>
    <% if decorated_resource.folders_count == 0 %>
      <td>This work has no folders attached.  Click "Attach Folder" to attach folders.</td>
    <% end %>
    </tbody>
  </table>
