<% if can?(:create, Numismatics::Issue) %>
<div class="row">
  <div class="col-md-12">
    <div class="card card-classify-work">
      <div class="card-header">Numismatics</div>
      <div class="card-body">
        <%= link_to 'Manage Numismatics', numismatics_dashboard_path, class: "btn btn-primary"%>
      </div>
    </div>
  </div>
</div>
<% end %>
