<% if decorated_resource.ephemera_box || decorated_resource.ephemera_project %>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <% if decorated_resource.ephemera_project %>
          <li class="breadcrumb-item"><%= link_to decorated_resource.ephemera_project.first_title, solr_document_path(id: "#{decorated_resource.ephemera_project.id}") %></li>
      <% end %>
      <% if decorated_resource.ephemera_box %>
        <li class="breadcrumb-item"><%= link_to decorated_resource.ephemera_box.first_title, solr_document_path(id: "#{decorated_resource.ephemera_box.id}") %></li>
      <% end %>
      <li class="breadcrumb-item active" aria-current="page"><%= decorated_resource.first_title %></li>
    </ol>
  </nav>
<% end %>
