<ol class="breadcrumb">
  <% if @parent_document %>
    <li><%= link_to @parent_document.decorated_resource.header, @parent_document %></li>
  <% end %>
  <li><%= @document.decorated_resource.header %></li>
</ol>
