<% if @parent_document %>
  <ol class="breadcrumb">
    <li><%= link_to @parent_document.decorated_resource.first_title, @parent_document %></li>
    <li><%= @document.decorated_resource.first_title %></li>
  </ol>
<% end %>
