<% if can_have_manifests?(resource) && resource.decorate.try(:members).present? %>
  <div class="intrinsic-container intrinsic-container-16x9 uv-container">
    <%# note: UV html file is '/uv/uv' %>
    <iframe src="<%= universal_viewer_path(resource) %>" allowfullscreen="true"></iframe>
  </div>
<% end %>
