<% if resource.class.can_have_manifests? && resource.try(:member_ids).present? && !resource.decorate.decorated_coins.map(&:decorated_file_sets).flatten.empty?  %>
  <div class="intrinsic-container intrinsic-container-16x9 uv-container">
    <%# note: UV html file is '/viewer' %>
    <iframe src="<%= universal_viewer_path(resource) %>" allowfullscreen="true"></iframe>
  </div>
<% end %>
