<% if resource.class.can_have_manifests? && resource.try(:member_ids).present? %>
  <div class="intrinsic-container intrinsic-container-16x9 uv-container">
    <%# note: UV html file is '/uv/uv' %>
    <iframe src="/uv/uv#?manifest=<%= request.base_url + main_app.polymorphic_path([main_app,:manifest,resource]) %>" allowfullscreen="true"></iframe>
  </div>
<% end %>
