<% if types.any? {|klass| can? :create, klass} %>
  <div class="row">
    <div class="col-md-12">
      <div class="card card-classify-work">
        <div class="card-header"><%= label %></div>
        <div class="card-body">
          <div class="row">
            <% types.each do |klass| %>
              <%= render partial: "catalog/work_card", locals: { klass: klass, bulk: bulk } %>
              <%= render partial: 'catalog/work_types_archival_media_collections', locals: { type: klass } %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
