<div class="row">
  <div id="content" class="<%= show_content_classes %>">
    <%= render_document_main_content_partial %>
  </div>

  <%# this is action bar buttons; hide unless logged in %>
  <% if current_user %>
    <div id="sidebar" class="show-sidebar <%= show_sidebar_classes %>">
      <%= render_document_sidebar_partial %>
    </div>
  <% end %>
</div>
