$white: #ffffff;
$black: #000000;
$university-black: #040404;
$dark-gray: #494f57;
$gainsboro: #DCDCDC;
$gray: #e8e6df;
$light-gray: #f5f4f1;
$dark-orange: #89440a;
$orange: #e87511;
$dark-blue: #196076;
$blue: #337ab7;
$green-light: #d6e9c6;
$green: #2A652A;
$dark-green: #3c763d;
$red: #A72925;
$princeton-orange: #F57A00;
