$font-serif: 'Droid Serif', Georgia, Times, serif !default;
$font-sans: 'Dejavu Sans', 'Arial Unicode MS', Helvetica, sans-serif !default;
$font-mono: 'Lucida Console', Monaco, monospace !default;
$text-color: #000 !default;