$font-serif: 'Droid Serif', Georgia, Times, serif !default;
$font-sans: 'Dejavu Sans', Helvetica, sans-serif !default;
$font-mono: 'Lucida Console', Monaco, monospace !default;
$text-color: #000 !default;
$font-family-sans-serif: $font-sans;
$font-family-serif: $font-serif;
$bootstrap-sass-asset-helper: true;
