<div class='nested-fields'>
  <div class="col-md-6">
    <%= f.input :name, required: f.object.required?(:name), label: "Sender Name" %>
  </div>
  <div class="col-md-6">
    <%= f.input :place, required: f.object.required?(:place), label: "Sender Place" %>
  </div>
  <%= f.hidden_field :id %>
  <%= link_to_remove_association "Remove Sender", f %>
</div>
