<div class="col-md-12">
  <div class="panel-body">
    <ul class="classify-work classify-<%= label.downcase %>">
      <li class="work-type">
        <h4 class="title"><%= label %></h4>
        <%= link_to "View", search_catalog_path(params: {"f":{"human_readable_type_ssim":["Issue"]},"q":""}), class: "add-button btn btn-primary" %><br>
        <%= link_to "New Issue", new_numismatics_issue_path, class: "add-button btn btn-primary" %>
      </li>
    </ul>
  </div>
</div>
