<% labels.each do |name| %>
  <div class="work-type-card-col">
    <div class="card work-type classify-<%= name.downcase %>">
      <div class="card-body">
        <div class="card-text">
          <%= instance_variable_get"@#{name.downcase}" %>
        </div>
        <div class="card-title"><%= name %></div>
        <%= link_to "Manage", send("numismatics_#{name.downcase}_path"), class: "btn btn-primary manage-#{name.downcase}" %>
      </div>
    </div>
  </div>
<% end %>
