$icomoon-font-path: "fonts" !default;

$icon-file-format-xml: \e900;
$icon-file-pdf: \e901;
$icon-warning: \e90e;
$icon-spinner: \e905;
$icon-rssfeed: \e902;
$icon-article-express--small: \e61d;
$icon-plus-sign-alt: \e910;
$icon-down: \e908;
$icon-right: \e909;
$icon-caret-left: \e911;
$icon-caret-right: \e912;
$icon-bookmark: \e903;
$icon-bookslibrary: \e907;
$icon-moveback: \e904;
$icon-cite: \e906;
$icon-search: \e90b;
$icon-share: \e90a;
$icon-minus-sign-alt: \e91a;
$icon-refresh: \e90c;
$icon-senior-thesis: \e600;
$icon-data-file: \e601;
$icon-map: \e602;
$icon-manuscript: \e603;
$icon-audio: \e604;
$icon-musical-score: \e605;
$icon-video-projected-medium: \e606;
$icon-visual-material: \e607;
$icon-toggle-collapsed: \e608;
$icon-remove: \e609;
$icon-toggle: \e60a;
$icon-book: \e60b;
$icon-journal: \e60c;
$icon-mixed-material: \e60d;
$icon-dissertation: \e60e;
$icon-unknown: \e60f;
$icon-databases: \ec2b;
$icon-text: \ec40;
$icon-library: \efa3;
$icon-web: \efbe;
$icon-home: \efc1;
$icon-compass: \efd5;
$icon-location: \eff3;
$icon-guide: \f04a;
$icon-windows: \f0fd;
$icon-cd: \f2f3;
$icon-lp: \f2f4;
$icon-question: \f558;
$icon-best-bet: \f580;
$icon-archives: \f5f5;
$icon-collections: \f5fa;
$icon-newspaper: \f608;
$icon-newtab: \f639;
$icon-mobile: \f690;
$icon-phone: \f6a4;
$icon-phone-book: \f6a8;
$icon-chat: \f728;
$icon-staff: \f785;
$icon-email: \f813;
$icon-calendar: \f82c;
$icon-clock: \f82e;
$icon-links: \f87f;
$icon-print: \f893;
$icon-digital: \e91e;
$icon-film: \e920;
$icon-add-box: \e921;
