#bbox {
  height: 500px;
}

.leaflet-control-attribution {
  display: none;
}

.bbox-inputs {
  margin-top: 10px;
  margin-bottom: 10px;
  .input-group-addon div {
    color: black;
    width: 30px;
  }
}
