.bulk-ingest-legend {
  font-size: 16px;
}

.bulk-ingest-form {
  #browse_everything {
    width: 100%;
  }

  > div {
    margin-top: 10px;
  }
}

ul.multivolume {
  list-style-type: none;
  padding-left: 8px;
}
