dl.document-metadata {
  ul {
    list-style: none;
    padding-left: 0;
  }
}
#documents .document {
  > .btn-group {
    float: right;
  }
  > .document-metadata {
    width: 60%;
  }
  > .document-thumbnail {
    padding-left: 0;
  }
}

.back-to-search {
  margin-bottom: 10px;
}

.attribute-table {
  ul {
    list-style: none;
  }
}

#sortAndPerPage {
  margin-top: 1em;
}

div.pagination {
  a.disabled {
    color: gray;
    pointer-events: none;
  }
}
