.back-to-search {
  margin-bottom: 10px;
}

#sortAndPerPage {
  margin-top: 1em;
}

#main-container {
  padding-top: 1em;
}

#document {
  @extend .border-top, .mt-3, .pt-3;

  caption {
    caption-side: top;
  }

  td {
    padding: 8px;
  }
}

.documents-list {
  dt, dd {
    // Field `figgy_title_ssi` needed in JSON catalog rendering for numismatics
    // attribute search, but redundant in search results display.
    &.blacklight-figgy_title_ssi {
      visibility: hidden;
      display: none;
    }
  }
}
