.back-to-search {
  margin-bottom: 10px;
}

#sortAndPerPage {
  margin-top: 1em;
}

#main-container {
  padding-top: 1em;
}

#document {
  @extend .border-top, .mt-3, .pt-3;

  caption {
    caption-side: top;
  }

  td {
    padding: 8px;
  }
}

