form > .browse-everything,
.fileupload-buttonbar .btn,
.fileinput-button {
  width: 100%;
}

div {
  .fileupload-list {
    min-height: 172px;
  }

  .fileupload-buttonbar {
    padding-bottom: 4px;
  }
}
