#metadata {
  .checkbox input[type='checkbox'] {
    margin-left: 0;
  }
}
.form-group .radio input.radio_buttons {
  margin-left: 0;
}
.panel-delete-controls {
  border-top-width: 0px;
  padding-top: 0px;
}
