@import "variables/breaks";
@import "variables/colors";
@import "variables/typography";
@import "abstractions/mixins";

header {
  /*
    these styles are needed to keep dropdown menus from falling underneath
    sticky elements on page. Note it's not actually sticky because there's
    no `top` or `bottom` assigned.
   */
  position: sticky;
  z-index: 1001;
}

.l-branding__pul {
  background: $dark-gray;
  border-top: 3px solid $orange;
  min-height: 40px;
  position: relative;

  .logo__pul {
    height: 40px;
    position: relative;
    z-index: 10;
    text-align: center;
  }

  .logo__pul img {
    margin: 0;

    @include vertical-align;
  }
}

@media (min-width: $bp-medium) {
  .l-branding__pul .logo__pul {
    text-align: left;
  }
}

.l-branding__pul .logo__pul {
  margin: 0;
  padding: 0;
}

@media (max-width: $bp-medium) {
  .header__secondary .container .navbar-right {
    width: 100%;
    margin-top: 1em;
  }

  .header__secondary .container .navbar-right .navbar-nav {
    margin: 0 auto;
    text-align: center;
    width: 100%;

    li {
      display: inline-block;
      float: none;
    }
  }
}

.svg .logo-svg {
  display: inline-block;
  max-width: 100%;
}

.svg .logo-no-svg {
  display: none;
}

#site-actions {
  padding: 0;
  margin-bottom: 1.5em;
  text-align: center;

  .btn-group {
    margin: 0 1em;
  }
}

@media (min-width: $bp-medium) {
  .header__secondary > .container,
  #site-actions,
  #site-search {
    height: 76px;
  }

  #site-actions {
    text-align: right;

    > a,
    .my-actions,
    .add-content {
      @include vertical-align;

      z-index: 1;
    }
  }
}

#site-search form {
  margin: 0;
}

.search-form {
  margin: 0;

  @include vertical-align;
}

.search-form .search-query {
  outline: none;
  height: 34px;
}

.input-group {
  width: 100%;
}

.flash-message {
  background-color: $white;
}

.accessible-hidden,
.visuallyhidden {
  @include visually-hidden;
}

#site-actions {
  .btn-group + .btn-group {
    margin-left: 0;
  }
}

.search-form {
  #search-input {
    width: 100%;
  }

  #keyword-search-submit {
    padding-top: 0;
    padding-bottom: 0;
  }
}

// Copied over from Curation Concerns.
.dropdown-menu {

  .item-with-options {
    display: block;
    padding:3px 20px;
    line-height: $line-height-base;
    color: $dropdown-link-color;
  }

  .item-options{
    margin:0;
    padding:0;
    list-style-type:none;

    // Links within the dropdown menu
    > li > a {
      display: block;
      padding: 3px 20px 3px 30px;
      clear: both;
      font-weight: normal;
      line-height: $line-height-base;
      color: $dropdown-link-color;
      white-space: nowrap; // prevent links from randomly breaking onto new lines
    }
  }

  .item-option:hover,
  .item-option:focus {
    text-decoration: none;
    color: $dropdown-link-hover-color;
    background-color: $dropdown-link-hover-bg;
  }

  .menu-heading {
    font-weight:bold;
  }

  .link-to-full-list {
    font-style:italic;
  }
}

@include media-breakpoint-down(md) {
  .navbar-inverse {
    .item-with-options {
      color: $link-color;
    }
    .item-options {
      > li > a {
        color: $link-color;
        &:hover,
        &:focus {
          color: $link-hover-color;
          background-color: $dropdown-link-hover-bg;
        }
      }
    }
  }
}
.menu--level-1,
.logo__pul {
  height: 40px;
  position: relative;
}
