#title-bar {
  width: 100%;
}

#site-search {
  margin: 1.5em 0;
  .form-control {
    height: 45px;
  }
}

.search-form {
  #search-input {
    width: 100%;
  }
}

#site-actions {
  padding: 0;
  margin-bottom: 1.5em;
  text-align: center;

  .btn-group {
    margin: 0 1em;
  }
  @include media-breakpoint-up(md) {
    text-align: right;
    margin-top: 1.5em;
  }
}

.input-group {
  width: 100%;
}

.flash-message {
  background-color: $white;
}

.accessible-hidden,
.visuallyhidden {
  @include visually-hidden;
}

// Copied over from Curation Concerns.
.dropdown-menu {

  .item-with-options {
    display: block;
    padding:3px 20px;
    line-height: $line-height-base;
    color: $dropdown-link-color;
  }

  .item-options{
    margin:0;
    padding:0;
    list-style-type:none;

    // Links within the dropdown menu
    > li > a {
      display: block;
      padding: 3px 20px 3px 30px;
      clear: both;
      font-weight: normal;
      line-height: $line-height-base;
      color: $dropdown-link-color;
      white-space: nowrap; // prevent links from randomly breaking onto new lines
    }
  }

  .item-option:hover,
  .item-option:focus {
    text-decoration: none;
    color: $dropdown-link-hover-color;
    background-color: $dropdown-link-hover-bg;
  }

  .menu-heading {
    font-weight:bold;
  }

  .link-to-full-list {
    font-style:italic;
  }
}
#health-status {
  flex-grow: 1;
  text-align: right;
  align-self: end;
}
#healthModal {
  img {
    height: 60px;
  }
  .check {
    display: flex;
    margin-bottom: 25px;
    &:last-child {
      margin-bottom: 0;
    }
    .check-status {
      flex-grow: 1;
      text-align: left;
      padding: 10px;
    }
  }
}
