// Show content above sidebar on show page
body.blacklight-catalog-show #content {
  @extend .order-first;
}

.relationships, .attributes {
  tbody th {
    width: 20%;
  }
  ul.tabular {
    padding-left: 0px;
    margin-bottom: 0px;
    li.attribute {
      padding-top: 4px;
      padding-bottom: 4px;
    }
  }
}

ul.tabular {
  list-style: none;
}

.attribute {
  .visibility {
    padding-left: 0;
  }

  .description {
    white-space: pre-wrap;
  }
}

.auth-link {
  form {
    padding-top: 8px;
    padding-bottom: 8px;
    text-align: center;
      @media (min-width: $bp-small) {
        padding-top: inherit;
	padding-bottom: inherit;
      }

      .submit {
        @media (min-width: $bp-medium) {
        float: right;
      }
    }
  }

  .summary {
    float: right;
    p {
      color: #888888;
      font-style: italic;
    }
  }
}

table.dataTable thead .sorting:after, table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_desc:after {
    left: 0px;
    right: 0px;
}

table.dataTable thead > tr > th {
  padding-left: 20px;
}

.simple_form {
  .loading-status {
    position: absolute;
    left: 50%;
    right: 50%;
    z-index: 1;
    color: #555555;
  }

  .member-resources.loading, .parent-resources.loading {
    opacity: 0.4;
  }

  .vector_resource_member_ids label, .raster_resource_member_ids label {
    display: none;
  }
}

.member-resources {
  &-attach, .parent-resources-attach {
    .form-group.select {
      width: 232px;
    }
  }
}

.show-sidebar {
  margin-top: 1em;
  padding: 15px;
  position: -webkit-sticky;
  position: sticky;
  bottom: -1px;
  background: $color-grayscale-light;
  border: 1px solid transparent;
  border-radius: 4px;
  border-color: #ddd;
  width: 100%;
  /* leaflet controls are 1000; this needs to scroll over them on map show pages */
  z-index: 1000;
}

#document {
  .card-header {
    font-size: 18px;
    color: $blue;
  }

  .table-heading {
    & {
      font-size: 18px;
      color: $blue;
    }
  }
  .workflow-actions {
    // Align workflow actions and comments columns
    h3 {
      margin-top: 0;
    }
  }
}

.claim-btn {
  margin-bottom: 1em;
}
