.relationships, .attributes {
  tbody th {
    width: 20%;
  }
  ul.tabular {
    padding-left: 0px;
  }
}

ul.tabular {
  list-style: none;
}

.attribute {
  .visibility {
    padding-left: 0;
  }

  .description {
    white-space: pre-wrap;
  }
}

.auth-link {
  form {
    padding-top: 8px;
    padding-bottom: 8px;
    text-align: center;
      @media (min-width: $bp-small) {
        padding-top: inherit;
	padding-bottom: inherit;
      }

      .submit {
        @media (min-width: $bp-medium) {
        float: right;
      }
    }
  }

  .summary {
    float: right;
    p {
      color: #888888;
      font-style: italic;
    }
  }
}

table.dataTable thead .sorting:after, table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_desc:after {
    left: 0px;
    right: 0px;
}

table.dataTable thead > tr > th {
  padding-left: 20px;
}

.simple_form {
  .loading-status {
    position: absolute;
    left: 50%;
    right: 50%;
    z-index: 1;
    color: #555555;
  }

  .member-resources.loading, .parent-resources.loading {
    opacity: 0.4;
  }
}

.member-resources {
  &-attach, .parent-resources-attach {
    .form-group.select {
      width: 232px;
    }
  }
  // Overrides the Boostrap selector .table > tbody > tr > td
  & > tbody > tr > td {
    padding-left: 0.8rem;
    padding-right: 0.8rem;
    padding-top: 0.4rem;
    padding-bottom: 0.6rem;
    vertical-align: middle;

    &:last-child {
      width: percentage(1 / 12);
    }
  }
}
