.relationships, .attributes {
  tbody th {
    width: 20%;
  }
  ul.tabular {
    padding-left: 0px;
  }
}

ul.tabular {
  list-style: none;
}
.attribute.visibility {
  padding-left: 0;
}

.attribute.description {
  white-space: pre-wrap;
}

table.dataTable thead .sorting:after, table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_desc:after {
    left: 0px;
    right: 0px;
}

table.dataTable thead > tr > th {
  padding-left: 20px;
}

.simple_form {
  .loading-status {
    position: absolute;
    left: 50%;
    right: 50%;
    z-index: 1;
    color: #555555;
  }

  .member-resources.loading, .parent-resources.loading {
    opacity: 0.4;
  }
}

.member-resources-attach, .parent-resources-attach {
  .form-group.select {
    width: 232px;
  }
}
