.sortable {
  .placeholder {
    outline: 1px dashed #4183C4;
  }
  .ui-selected > div > .panel > .panel-heading {
    background: #F39814;
  }
  .ui-selecting > div > .panel > .panel-heading {
    background: #FECA40;
  }
  .expanded {
    > div > .panel > .panel-heading > div > .title > .expand-collapse {
      @extend .glyphicon-arrow-down;
    }
  }
  .collapsed {
    > div > .panel > .panel-heading > div > .title > .expand-collapse {
      @extend .glyphicon-arrow-up;
    }
  }
  .expand-collapse {
    cursor: pointer;
  }
  li.collapsed {
    ul {
      display: none;
    }
  }
  .move {
    cursor: move;
  }
  &, ul {
    list-style: none;
  }
  li {
    border-left: 1px dotted gray;
    border-radius: 4px;
    border-bottom-left-radius: 0px;
    > div {
      margin-left: -1px;
    }
  }
  .title {
    @extend .col-xs-8;
    input[type=text] {
      width: 80%;
    }
  }
  .toolbar {
    @extend .col-xs-4;
    text-align: right;
    .glyphicon-remove {
      @extend .text-danger;
      top: 5px;
    }
  }
}
#list-toolbar {
  margin-bottom: 10px;
}
