.card.card-classify-work {
  border: none;
  .card-header {
    border: $card-border-width solid $card-border-color;
  }

  .work-type-card-col {
    @extend .col-lg-3;
    @extend .col-md-4;
    @extend .col-sm-6;
  }

  .card.work-type {
    @extend .text-center;
    .card-title {
      font-size: 1.2rem;
      color: #337ab7;
    }
    .work-icon {
      font-size: 50px;
      color: $blue;
      padding: 15px 0 15px 0;
    }
  }
}
