<h3>OCR Requests</h3>

<file-uploader upload-path='/ocr_requests/upload_file' mime-types='application/pdf' table-name='requestsTable' ></file-uploader>

<br>
<hr>
<br>

<table id="requests-table" class="table table-striped requests-datatable">
  <thead>
    <tr>
      <th>Filename</th>
      <th>Created</th>
      <th>State</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody></tbody>
</table>
