<%= f.input :bag_path, input_html: { class: 'form-control' }, required: f.object.required?(key) %>

<button id="browse_everything" type="button" class="btn btn-bag-path browse-everything" data-toggle="modal" data-target="#browse-everything-modal"></button>
<%= render 'browse_everything/modal' %>
