<h2>DPUL Success Dashboard</h2>
<p>
<%= form_with(url: dpul_success_dashboard_path, method: :get, local: true) do |f| %>
  <lux-date-picker id="date_range" name="date_range" helper="Entering a single date will result in a report for that day." required="true" label="Date Range" mode="range"></lux-date-picker>
  <%= f.submit("Generate Report") %>
<% end %>
</p>
<% if @report %>
<hr/>

<table class="table table-striped datatable">
  <thead>
    <tr>
      <th>Metric</th>
      <th>Total</th>
  </thead>
  <tbody>
    <% @report.plausible_api_request.each do |k,v| %>
      <tr>
        <td><%= k %></td>
        <td><%= v['value'] %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<% end %>
